@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f4ef;
  padding: 0;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 106px 20px;
}

